[Unit]
Description=Plex Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a Plex
ExecStop=/usr/bin/docker stop -t 2 Plex

[Install]
WantedBy=multi-user.target
