[Unit]
Description=Sonarr Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a Sonarr
ExecStop=/usr/bin/docker stop -t 2 Sonarr

[Install]
WantedBy=multi-user.target
