[Unit]
Description=CouchPotato Container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a Couchpotato
ExecStop=/usr/bin/docker stop -t 2 Couchpotato

[Install]
WantedBy=multi-user.target
